MONGO_URI=mongodb://127.0.0.1:27017/mern-thinkboard

# Optional: Upstash Redis (for rate limiting)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Example: set the PORT the server listens on
PORT=5000
